.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
    
h1 {
    text-align: center;
}
    
h2 {
    margin-top: 30px;
}
    
.serie,
.pelicula {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
    
.serie h3,
.pelicula h3 {
    margin-bottom: 10px;
}
    
.serie p,
.pelicula p {
    margin: 0;
}