<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Actualizar Reseña</h1>

    <form method="post" action="{% url 'actualizar_reseña_pelicula' pelicula.id %}">
        {% csrf_token %}
        <input type="hidden" name="tipo" value="pelicula">
        <input type="hidden" name="id" value="{{ pelicula.id }}">
        {{ form.as_p }}
        <button type="submit">Actualizar Reseña</button>
    </form>
    
</body>
</html>