<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CodePenChallenge: 403 Forbidden</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Squada+One'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,600'>
{% load static %}
<link href="{% static 'css/Error404.css' %}" rel="stylesheet" />
</head>
<body>
<!-- partial:index.partial.html -->
<p>Error 403:</p>
<h1>Forbidden resource</h1>
<p>Pagina Actualmente En Desarrollo, Intentalo Denuevo Mas Tarde.</p>
<!-- partial -->
  <script  src="{% static 'js/script.js' %}"></script>
</body>
</html>
